*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Navbar{
    width: 100%;
    height: 17vh;
    background-color: #7bbdc0;
    position: sticky;
    top: -20px;
    box-shadow: 0 0 5px 0 #212b38;
    display: flex;
    align-items: center;
    z-index: 10;
}

.Navbar__elemento{
    width: 100%;
    position: sticky;
    top: 0;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Navbar__logo{
    display: flex;
    align-items: center;
}

.Navbar__logo > h2{
    font-family: "Cinzel decorative";
    color: #141d28;
    margin-left: 15px;
    font-family: 16px;
}

.img__logo{
    width: 70px;
}

.Navbar__Lista{
    display: flex;
}

.Lista__elemento{
    list-style-type: none;
    position: relative;
}

.Navbar__elemento * a{
    margin: 0 15px;
    color: #141d28;
    text-decoration: none;
    font-size: 17.5px;
    font-family: "karla";
    transition: color 0.6;
}

a:hover{
    color: rgba(100, 100, 100, 0.2);
}

.menu__desplegable{
    display: none;
}

.Navbar ul li:hover .menu__desplegable{
    display: block;
}

.menu__desplegable{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #e2e8e4;
}

.menu__desplegable ul{
    display: block;
    margin: 8px;
}

.menu__desplegable ul li{
    width: 135px;
    padding: 8px 10px;
    list-style: none;
}

.fas{
    float: right;
}

.menu__desplegable1{
    display: block;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 151px;
    background-color: #e2e8e4;

}

.menu__desplegable1{
    display: none;
}

.menu__desplegable ul li:hover .menu__desplegable1{
    display: block;
    width: 175px;
}

.Navbar__Usuario{
    display: flex;
    align-items: center;
}

.Navbar__Usuario > a{
    text-decoration: none;
}

.Navbar__Usuario > a > h2{
    font-family: "Cinzel decorative";
    font-size: 16px;
    color: #141d28;
    margin-right: 15px;
}

.img__usuario{
    width: 50px;
    height: 50px;
}

.main{
    width: 100%;
    height: 86vh;
    background-image: url(Img/Logos/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main__elemento{
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 80px;
}

#main__titulo{
    font-family: "Cinzel decorative";
    font-size: 6em;
    font-weight: 100;
}

.main__texto{
    font-family: georgia;
    font-family: 3em;
    letter-spacing: 1.5px;
    padding-left: 10px;
}

.seccion{
    max-width: 100%;
    height: 91vh;
    padding: 25px;
}

.seccion__titulo{
    font-family: "Cinzel decorative";
    font-size: 3em;
    text-align: center;
    font-weight: 100;
}

.seccion__texto{
    font-size: 18px;
    font-family: georgia;
    letter-spacing: 1px;
    text-align: center;
}

.seccion__nosotros{
    width: 90%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.nosotros__imagenes{
    width: 25%;
    height: 55vh;
    margin: 50px 20px;
    border-radius: 12.5px;
    box-shadow: 2px 2px 3px black;
}

.img1{
    background-image: url(Img/Imagenes/Aaron.png);
    background-position: center;
    background-size: cover;
}
.img2{
    background-image: url(Img/Imagenes/Layresky.png);
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(Img/Imagenes/Eliana.png);
    background-position: center;
    background-size: cover;
}
.img4{
    background-image: url(Img/Imagenes/Wanny.png);
    background-position: center;
    background-size: cover;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #7bbdc0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.footer__elemento{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__imagenes{
    display: flex;
    justify-content: center;
}

.footer__imagenes > a{
    width: 60px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 9px;
    margin: 12px 12px 5px 12px;
    border: 1px solid white;
    border-radius: 15px;
}

.footer__imagenes > a > i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion__texto{
    letter-spacing: 1px;
    font-size: 17px;
    font-family: tahoma;
    display: flex;
    justify-content: center;
}

.informacion__titulo{
    font-family: Georgia;
    font-weight: 100;
    margin-top: 5px;
}

.footer__enlaces{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 20px;
}

.footer__enlaces > a{
    margin: 6px 0;
    text-decoration: none;
    color: black;
}